body {
  font-family: Arial, Helvetica, sans-serif;
  color: #2f3a36;
  width: 960px;
  text-align: center;
  background-color: #c3e0c5;
}

header {
  max-width: 960px;
  text-align: center;
}

form {
  text-align: center;
}

div {
  display: block;
  width: 200px;
}

img {
  border: 0.5px solid black;
}

header img {
  border-radius: 5px;
  padding: 1px;
}

#answers {
  text-align: center;
}

main {
  width: 960px;
}

#questions {
  text-align: center;
}

#answer1,
#answer2,
#answer3,
#answer4 {
  border: 1px solid black;
  margin: 5px;
  border-radius: 3px;
  padding: 5px;
  background-color: #2f3136;
  color: white;
}


#answer1:hover,
#answer2:hover,
#answer3:hover,
#answer4:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
