body {
  font-family: Arial, Helvetica, sans-serif;
  color: #2f3a36;
  background-color: #c3e0c5;
  max-width: 960px;
  text-align: center;
}

header {
  text-align: center;
  background: rgba(20, 30, 26, .15);
  padding: 5px;
  overflow: hidden;
}

form {
  text-align: center;
}

div {
  display: block;
  width: 200px;
}

img {
  border: 0.5px solid black;
}

header img {
  border-radius: 2px;
  padding: 5px 0px;
  background-color: white;
  float: left;
  margin: 7px;
  height: 55px;
}

#answers {
  text-align: center;
}

h1 {
  font-weight: 900;
  font-size: 3em;
}

h2 {
  font-weight: 600;
}

h3 {
  width: 375px;
  font-size: 1.3em;
  line-height: 1.25em;
  text-align: center;
  margin: auto;
  font-weight: 300;

}

main {
  width: 960px;
}

#questions {
  text-align: center;
  width: 700px;
}

#answer1,
#answer2,
#answer3,
#answer4 {
  border: 1px solid black;
  margin: 5px;
  border-radius: 3px;
  padding: 5px;
  background-color: #2f3136;
  color: white;
}


#answer1:hover,
#answer2:hover,
#answer3:hover,
#answer4:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

#grayson,
#jade,
#keeley,
#morgan {
  display: inline-block;
}

.name1,
.name2,
.name3,
.name4 {
  border: 1px solid black;
  display: inline-block;
  width: 150px;
  height: 25px;
}

.points1,
.points2,
.points3,
.points4 {
  border: 1px solid black;
  display: inline-block;
  width: 75px;
  height: 25px;
}

#buddies {
  float: right;
  margin: 30px;
  text-decoration: none;
  color: #2f3a36;
  font-size: 20px;
  font-weight: 100;

}

#user-form {
  margin: 20px;
}

#username {
  font-size: 1em;
  padding: 7px;
  border: 0.5px solid #2f3a36;;
}

#avatars {
  display: inline-block;
  width: 600px;
}

#cocktail,
#tea,
#wine-glass,
#beer-mug {
  display: inline-block;
  margin: 5px;
  height: 55px;
  width: auto;
}

div #play {
  display: inline-block;
  text-align: center;
  margin: 10px;
}

input[type=radio] {
  display: none;
  visibility: hidden;
}
:checked + label {
  outline: 3px solid green;
}
label {
  display: inline-block;
  height: 54px;
  width: 65px;
}

#cocktail + label {
  background-image: url("images/cocktail.png");
}

#tea + label {
  background-image: url("images/tea.png");
}

#wine-glass + label {
background-image: url("images/wine-glass.png");
}

#beer-mug + label {
background-image: url("images/beer-mug.png");
}

#play,
#submit {
  padding: 10px;
  border-radius: 2px;
  margin: 15px;
  font-size: 1em;
  border: .5px solid #2f3a36;
  background-color: #2f3a36;
  color:  #c3e0c5;
  background: rgba(20, 30, 26, .75);
}

#start {
  margin: 0 auto;
}