body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #c3e0c5;
  color: #2f3a36;
}

heading {
  width: 960px;
}

form {
  text-align: center;
}

div {
  display: block;
  width: 200px;
}

img {
  border: 0.5px solid black;
}

header img {
  border-radius: 5px;
}